body{
  margin-left: 30%;
  margin-right: 30%;
}

.doboz{
  background-color: orange;
  width: 100%;
  padding: 2%;
  color: white;
  font-size: medium;
}

table{
  width: 100%;
}

.jobb{
  padding-left: 3%;
}

button{
  margin-top: 3%;
  color: orange;
  border: 0;
  height: 32px;
  font-size: large;

}

#kozeptabla{
    margin: 30px;
    font-size: 18px;
    margin: auto;
    width: 80%;
}

table {
    border-collapse: collapse;
}
  
.vonal{
    border-bottom: 0.5px solid black;
    height: 60px;
}

.center{
    text-align: center;
    width: 190px;
}

span{
    font-style: italic;
    font-weight: normal;
}

#szin{
    color: #f3953e;
    font-weight: bold;
}

#font{
    font-size: 20px;
}

.selection{
  color: white;
  background-color: #f3953e;
}

